# Node stuffs lol
node_modules/

# secret stuff (check example if you want to make one)
env.js
env.ts

# I've decided not to include build JS into version controll.
# You can run `npm run build` or `npm run watch` to get the JS anyways
lib/**/*

